<div>
    <div class="row desktop-logo-div">
        <div class="col-md-5">
        </div>
        <div class=" col-md-2 desktop-logo">
            <i class="fa fa-ravelry" aria-hidden="true"></i>
        </div>
        <div class="col-md-5">
        </div>
    </div>
    <div class="nav-search-bar-row">
        <div class="d-md-none d-lg-none d-xl-none menu-bar">
            <div class=" row">
                <div class="col-5">
                    <i class="fa fa-bars mob-menu-bar" aria-hidden="true" (click)="showShowMobNav()"></i>
                </div>
                <div class="col-2">
                    <i class="fa fa-ravelry mob-logo-bar" aria-hidden="true"></i>
                </div>
                <div class="col-5"></div>

            </div>
        </div>
        <div class="nav-search-bar row" *ngIf="this.show">
            <div class="nav-bar row col-sm-12 col-md-3">
                <a href="" class="col-sm-12 col-md-4">Home</a>
                <a href="" class="col-sm-12 col-md-4">Articles</a>
                <a href="" class="col-sm-12 col-md-4">Audio</a>
            </div>
            <div class=" col-md-6">
            </div>
            <div class=" search-bar col-sm-2">
                <input type="text" placeholder="Search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div>
            </div>
        </div>


    </div>


    <div class="main-content">
        <div>
            <p class="main-para">
                Join us today
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eisumod tempor
            </p>
            <p>
                incididunt ut labore et dolor magna aliqua
            </p>
        </div>

        <div class="row container-icons" style="padding: 5%;">
            <div class="col-sm-2">

            </div>
            <div class=" col-sm-2">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <p>
                    Spend time smart
                </p>
                <p>
                    Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div class="col-sm-2">
                <i class="fa fa-podcast" aria-hidden="true"></i>
                <p>
                    Audio podcast
                </p>
                <p>
                    Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div class="col-sm-2">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                <p>
                    Boost your time
                </p>
                <p>
                    Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div class="col-sm-2">
                <i class="fa fa-diamond" aria-hidden="true"></i>
                <p>
                    Quality
                </p>
                <p>
                    Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <button class="sign-up">Sign Up</button>
            </div>
            <div class="col-sm-12 col-md-2">

            </div>
            <div class="col-sm-12 col-md-5">
                <button class="login-button">Login</button>
            </div>
        </div>
    </div>
</div>